body {
    font-family: Arial, sans-serif;
}

#task-input {
    margin-right: 10px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    cursor: pointer;
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
}
